:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* sizs */
  --size-button: 60px;
}

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  cursor: pointer;
  transition: transform 300ms ease;
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  background: none;
  border: none;
  outline: none;
  margin-right: 8px;
  cursor: pointer;
  transition: transform 300ms ease;
}
.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}
.colorBtn {
  font-size: 18px;
  font-weight: 600;
  padding: 16px;
  border-radius: 4px;
}
.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}

.items {
  width: 60%;
  height: 60%;
  overflow-y: scroll;
}
.item {
  background-color: var(--color-white);
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.item__thumbnail {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.item__description {
  font-size: 20px;
}
